@using Eucyon_Tribes.Models
@model IEnumerable<World>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page Tribes</title>
    <style>
        .world_img 
        {
          margin-left: 25px;
          margin-top: 20px;
          height: 100px;
          border : 5px;     
          border-radius:50%;
          width:100px;
          border: solid blue;
         } 
         .tit 
         {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
         }
    </style>
</head>
<body>
    <h3 style="color : red">@ViewBag.Message</h3>
    <h1>Welcome to Tribes Admins Test Page</h1>
    <a class="tit" href="user/list">Users List</a>
    <a class="tit" href="user/create">User Create</a>
    <a class="tit" href="user/login">User Login</a>
    <a class="tit" href="user/delete">User Delete</a>
    <h2>Worlds: @Model.Count()</h2>
    <a class="tit" href="world/create">Create New Empty World</a>
    
    @foreach (World world in Model)
        {
            <div style="margin-bottom : 10px">
                <a class="tit" href="/worlds/show/@world.Id">Show map of world ID:@world.Id =>
                <img class="world_img" src="https://images.theconversation.com/files/378097/original/file-20210111-23-bqsfwl.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop">
                </a>
            </div>
            <div class="danger">
                <a style="text-decoration:none; color : red" href="/worlds/delete/@world.Id">DELETE THIS WORLD</a>
            </div>
        }
   
</body>
</html>