<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login User Page</title>
    <style>
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
            }
    </style>
</head>
<body>
    <a class="tit" href="/user/create">Create new User</a>
    <a class="tit" href="/user/delete">Delete User</a>
    <h3>Login User</h3>
    <form method="post" action="/user/login">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Login">
        <a href="/user/list">Cancel</a>
    </form>
</body>
</html>