@using Eucyon_Tribes.Models
@model IEnumerable<Location>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>World Detailed</title>
    <style>
        table.board 
        {
        margin: 80px auto;
        background: #181;
        border: 25px solid #333;
        border-collapse: collapse;
        }
        td.board 
        {
            width: 70px; height: 70px;
            border: 2px solid #333;
        }
        tr.board:nth-child(odd) td.board:nth-child(even),
        tr.board:nth-child(even) td.board:nth-child(odd) 
        {
            background: green;
        }
        #board_pic
        {
            width:70px; 
            height:70px; 
            border: 0;
            background-size: 100%; 
        }
        .container 
        {
          position: relative;
          text-align: center;
          color: white;
        }
        .centered 
        {
          position: absolute;
          top: -20%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
            }
    </style>
</head>
<body>
    <a class="tit" href="/">Return to homepage</a>
    <h1>World ID:@ViewBag.WorldId map</h1>
    <h3>Kingdoms: @Model.Count()</h3>
    
    <table class="board">
    @for (int i = 0; i < 16; i++)
    {
        <tr class="board">
        @for (int j = 0; j < 16; j++)
                {
                    <td class="board">
                        @if (Model.Any(k => k.XCoordinate.Equals(j) 
                        && k.YCoordinate.Equals(i)))
                        {
                            Location location = Model.FirstOrDefault(k => k.XCoordinate.Equals(j)
                        && k.YCoordinate.Equals(i));
                        <div class="container">    
                            <div class="centered">@location.Kingdom.Name</div>
                            <a href="/kingdomDetail/@location.KingdomId"><img id="board_pic" src="https://www.kingdoms.com/img/screenshots/screenshot2.jpg"></a>
                        </div>
                        }
                    </td>
                }
            </tr>
    }
    </table>
</body>
</html>