
<h3>Add new Todo</h3>
<form method="post" action="/web/add">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" required>
    <label for="userId">UserId</label>
    <input type="number" min="1" id="userId" name="userId" required>
    <input type="submit" value="Add">
</form>